@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" async defer></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<h2>Bing Map integration in ASP.NET</h2>
<div id="myMap" style="position:relative; width:600px; height:600px;">


</div>
<input type="button" id="btnShowLocations" value="Show All Locations" />